{
	"regularWorkerNum": 16,
	"specialWorkerNum": 32,
	"supremeWorkerNum": 64,
	"port": "1883",
	"host": "0.0.0.0",
	"debug": false,
	"tlsPort": "",
	"tlsHost": "",
	"wsPort": "",
	"wsPath": "",
	"wsTLS": false,
	"tlsInfo": {
		"verify": true,
		"caFile": "ssl/ca/ca.pem",
		"certFile": "ssl/server/cert.pem",
		"keyFile": "ssl/server/key.pem"
	}
}
